<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Serveru géré par ansible</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body id="home" style= "color: {{ apache_color }}">
  Coucou, je suis ansible
  {{ message | default ('coucou web') }}
</body>
</html>