<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Serveur géré par Ansible</title>
</head>
<body id="home" style="color: {{ apache_color }}">
  <p>
    Coucou, je suis ansible
    {{ message }}
  </p>
</body>
</html>
